<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <h1>COMPOSE TON MENU</h1>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="7" aria-label="Slide 8"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img src="https://cdn.discordapp.com/attachments/406419836785262592/1138978490838941807/menu1.jpg" class="d-block w-40 c-img" alt="Slide 1">
        <div class="carousel-caption top-0 mx-auto">
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="https://cdn.discordapp.com/attachments/406419836785262592/1138978491140952125/menu2.jpg" class="d-block w-40 c-img" alt="Slide 2">
        <div class="carousel-caption top-0">
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="https://cdn.discordapp.com/attachments/406419836785262592/1138978377664041152/menu3.jpg" class="d-block w-40 c-img" alt="Slide 3">
        <div class="carousel-caption top-0">
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="https://cdn.discordapp.com/attachments/406419836785262592/1138978377957650614/menu4.jpg" class="d-block w-40 c-img" alt="Slide 4">
        <div class="carousel-caption top-0">
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="https://cdn.discordapp.com/attachments/406419836785262592/1138978378389651458/menu5.jpg" class="d-block w-40 c-img" alt="Slide 5">
        <div class="carousel-caption top-0 mt-4">
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="https://cdn.discordapp.com/attachments/406419836785262592/1138978379455008778/menu6.jpg" class="d-block w-40 c-img" alt="Slide 6">
        <div class="carousel-caption top-0 mt-4">
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="https://cdn.discordapp.com/attachments/406419836785262592/1138978379798937640/menu7.jpg" class="d-block w-40 c-img" alt="Slide 7">
        <div class="carousel-caption top-0 mt-4">
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="https://cdn.discordapp.com/attachments/406419836785262592/1138978380331626517/menu8.jpg" class="d-block w-40 c-img" alt="Slide 8">
        <div class="carousel-caption top-0 mt-4">
        </div>
      </div>    
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>