
<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top" [ngClass]="{'dark-mode': darkModeService.isDarkMode | async}">
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#" routerLink="/header" >ACCUEIL</a>
    <a  #button class="nav-item nav-link" (click)="toggleDarkMode()">DARK MODE </a>
      <a class="nav-item nav-link" href="#" routerLink="/menu" >MENU</a>
   
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
</nav>

<router-outlet></router-outlet>

<footer>
  <div class="container">
   
    <div class="row">
      <div class="col-sm">
          <ul><li>contact</li>
            <li>thedb@gmail.com</li>
            <li>0755487754</li>
            <li>0755482554</li>
            </ul>
      </div>
      <div class="col-sm">
        <ul><li>Reseaux sociaux</li>
          <li>insta</li>
          <li>tiktok</li>
          <li>twitter</li>
          </ul>
      </div>
      <div class="col-sm">
        <ul><li>Légal</li>
          <li>Protection des données personnelles</li>
          <li>Conditions général</li>
          <li>Politique de confidentialité</li>
          </ul>
      </div>
      <p>Tout droit réservé CSI BUSINESS.</p>
    </div>
  </div>
</footer>
<nav class="navbar navbar-expand navbar-dark bg-dark fixed-bottom" [ngClass]="{'dark-mode': darkModeService.isDarkMode | async}">
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link mx-auto" href="#" routerLink="/header" >ACCUEIL</a>
    
    <a #button class="nav-item nav-link mx-auto" (click)="toggleDarkMode()">DARK MODE</a>
      <a class="nav-item nav-link mx-auto" href="#" routerLink="/menu" >MENU</a>
   
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
